<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> </script>
    <link rel="stylesheet" href="css/dangnhap.css">
    <title>Đăng ký</title>
    
</head>

<body ng-app="b4" ng-controller="ctr1">



    <form name="form1" action="" id="form1">

        <h1 style="text-align: center;">ĐĂNG NHẬP</h1>

        <p>
            <label for="">TÀI KHOẢN :</label>
            <input required minlength="2" maxlength="30" ng-model="tendangnhap" name="tendangnhap" type="text"
                id="hoten" class="txt">

        </p>
        <p>
            <label for="">MẬT KHẨU :</label>
            <input required minlength="2" maxlength="30" ng-model="Matkhau" name="matkhau" type="text" id="hoten"
                class="txt">

        </p>
        <input ng-model="" type="checkbox" class="ghinho" name="" value=""><label for="">Ghi nhớ tài khoản</label>


        </div>
        <button class="button" ng-model="button">ĐĂNG NHẬP</button>

        <br>
        <div class="quen">
            <a href="">Quên mật khẩu ?</a>
            <br>
            <a href="">Tạo tài khoản mới ? </a>
        </div>


    </form>

</body>

</html>