<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/view/css/product.css">
</head>

<body>
    <div id="wp-products-new">
        <h2>SẢN PHẨM MỚI NHẤT</h2>
        <ul id="list-products-new">
            <div class="item">
                <img src="./image/sp5.jpg" alt="">
                <div class="infor">
                        <div class="infor-column">
                            <p>Cà phê Chocolate</p>
                            <p>Giá: 250.000 VNĐ</p>
                        </div>
                        <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/sp3.jpg" alt="">           
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/sp6.jpg" alt="">
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/qua.jpg" alt="">
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
        </ul>
        <div id="list-page-new">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>
    <div id="wp-products-seller">
        <h2>SẢN PHẨM BÁN CHẠY</h2>
        <ul id="list-products-seller">
            <div class="item">
                <img src="./image/sp5.jpg" alt="">
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/sp3.jpg" alt="">           
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/sp6.jpg" alt="">
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
            <div class="item">
                <img src="./image/qua.jpg" alt="">
                <div class="infor">
                    <div class="infor-column">
                        <p>Cà phê Chocolate</p>
                        <p>Giá: 250.000 VNĐ</p>
                    </div>
                    <button class="hang" name="hang">Còn hàng</button>
                </div>
                <button class="name">Xem thêm</button>
            </div>
        </ul>
        <div id="list-page-seller">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>