<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/view/css/spct.css">
</head>

<body>
     <div id="product-details">
        <div id="product-details-top">
        </div>
        <div id="product-details-bottom">
            <div id="product-details-left">
                <img src="./image/sp2.png">
                <h2>Mô tả</h2>
                <p>Hương thơm ngọt ngào từ chocolate hoà quyện cùng với hạt cà phê nguyên chất. Được đóng gói và sản xuất theo dây chuyền từ nhà máy sản xuất Mái Cà Phê.</p>
            </div>
            <div id="product-details-right">
                <h3>CÀ PHÊ</h3>
                <h1>Hương Chocolate</h1>
                <h4>Giá: 250.000VNĐ</h4>
                <div class="soluong">
                    <div>-</div>
                    <div>1</div>
                    <div>+</div>
                </div>
                <button class="addhang" name="themhang">Thêm vào giỏ hàng</button>
            </div>
        </div>
     </div>
    <script src="script.js"></script>
</body>

</html>